{% extends 'base.html' %}

{% block title %}Pedido{% endblock %}


{% block content %}
    <h1>Pedidos de {{user.username}} </h1>

    <div class="container" style="max-width: 500px;">
       <table class="table table-striped-columns tablaconfig">
           <thead>
               <tr>
                   <th>#</th>
                   <th>Producto</th>
                   <th>Cantidad</th>
                   <th>Precio</th>
               </tr>
           </thead>
           <tbody>
               {% for key, value in request.session.carro.items %}
                   <tr>
                       <td>{{forloop.counter}} </td>
                       <td>{{value.nombre}} </td>
                     
                       <td>{{value.cantidad}} </td>
    
                       <td>{{value.precio}} </td>
                   </tr>
               {% endfor %}
               <tr class="text-end">
                   <td colspan="4">Total: {{total}} </td>
               </tr>


           </tbody>
       </table>

       <div class="container text-center">
        
            <a href="{% url 'inicio:compra-finalizada' %}" class="btn btn-danger btn-lg btn-block">Finalizar Comprar </a>
     
       </div>
 
    
    </div>


{% endblock %}