{% extends 'base.html' %}
<!-- al heredear de base no heredamos static, solo el contenido de los block -->

{% block title %} Inicio Sesion {% endblock %}

{% block content %}
    <h1 class="inicio-sesion h1-shadow">Inicio sesion</h1>

    <div class="container text-center contenedor-sesion">
        <div class="row">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
        
                <button class="btn btn-primary">
                    Iniciar sesion
                </button>
            </form>
        
        </div>
    </div>


{% endblock%}